.calendar-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.month {
    border: 1px solid #ccc;
    padding: 10px;
    width: 150px;
}

.day {
    margin: 2px;
    padding: 5px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    text-align: center;
    border-radius: 6px;
}

.day.highlight {
    background-color: rgb(255, 227, 227);
    border: 1px solid rgb(246, 178, 178);
}

.day.today {
    background-color: rgb(225, 239, 255);
}